*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}

#wrapper{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    color:black;
    opacity: 0.5;
}

nav>ul{
    display: flex;
    list-style: none;
    color:white;
    justify-content: space-between;
    margin: 0 auto;
}

#container{
    width:1080px;
    margin: 0 auto;
    padding: 10px;
    background-color: lightgray;
}
.flex{display: flex;}

#bannerbox{
    display: flex;
    height: 500px;
}

#section1{
    flex-wrap: wrap;
    justify-content: space-between;
}

article{
    width: 49%;
    height: 100px;
    background-color: gray;
}

