@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "twayair";
}

#container{
    width:100%;
    margin : 0 auto;
}

nav{
    height: 50px;
    background-color: black;
}

nav>ul{
    list-style: none;
    padding: 3px;
}

nav>ul>li{
    display: inline-block;
    margin : 15px 20px;
}

a{text-decoration: none;}
a:link,a:visited{color:white;}
a:active, a:hover{color: yellow;}

header{
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: 0.8;
}

.photo{display: none;}

section{
    position: relative;
    width: 100%;
    padding: 15px 30px;
}

.title{
    position: absolute;
    top:20px;
    left:0;
    padding : 30px 50px;
}

.title>h1{ margin-bottom: 30px;}

.content{
    margin : 80px auto 10px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}
.photo > img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 30px;
  }
  #intro .photo,
  #map .photo {
    float: left;
    margin-right: 5%;
  }
  .text {
    width: 45%;
  }

  #intro .text,
  #map .text {
    float: right;
  }

  #choice .photo {
    float: right;
    margin-left: 5%;
  }
  #choice .text {
    float: left;
  }
  #choice .photo img {
    border: 1px solid white;
    border-radius: 50%;
  }
  footer {
    clear: both;
  }
